spring:
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

logging:
  level:
    root: INFO
    com.agentica: DEBUG
    org.springframework.web: DEBUG

agentica:
  adk:
    dev-ui-enabled: true
